/* Reset */
html {
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Container */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  padding: 16px 0;
}

.header .header__logo {
  font-size: 2rem;
  font-weight: bold;
}

/* Section */

.section {
  padding: 60px 0;
}

.section-01 {
  padding: 150px 0;
  background-color: #f8f8f6;
}

.section-02 {
  padding: 300px 0 60px 0;
  background-color: #ffffff;
}

.section-03 {
  padding: 150px 0 60px 0;
  background-color: #f8f8f6;
}

/* Left text, Right image */
.left-section {
  display: flex;
  position: relative;
}

.left-section-wrapper {
  max-width: 400px;
}

.left-section-wrapper .left-section__title {
  margin-bottom: 1.5rem;
  font-size: 4rem;
}

.left-section-wrapper .left-section__subtitle {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

.left-section .img {
  flex: 1;
  width: 400px;
  height: 550px;
  background: url(../img/app_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.left-section .float-img {
  position: absolute;
  top: -30px;
  left: 700px;
  width: 400px;
  height: 550px;
  background: url(../img/app_01.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Left image, Right text */
.right-section {
  display: flex;
  position: relative;
}

.right-section .img {
  flex: 1;
  width: 400px;
  height: 550px;
  background: url(../img/app_01.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.right-section-wrapper {
  width: 400px;
}

.right-section-wrapper .right-section__title {
  margin-bottom: 1.5rem;
  font-size: 4rem;
}

.right-section-wrapper .right-section__subtitle {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

/* Button */

.btn {
  border: none;
  border-radius: 8px;
  background-color: #41cd8c;
  color: white;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn--large {
  padding: 1rem 4rem;
  font-size: 1.2rem;
}
